<div class="container-fluid">
<div class="row">
<div class="col-xs-12">
  <div  ng-repeat="project in user.data.projects">
    <label ng-hide="edit" ng-click="edit = !edit; saveTitleFunction(project.title)">{{project.title}}</label>
    <input type="text" ng-model="project.title" ng-blur="edit = false; convertGoalTitles(project.title)" ng-show="edit">
    <button type="button" ng-click="removeProject(project.title, $index)"> Remove Project </button>
    <div ng-repeat="goal in user.data.goalHistory | filter:project.title | orderBy:goal.time.start.time.fullTime:true">
      <label ng-click="open = !open">{{goal.task}}</label>
      <button type="button" ng-click="removeGoal(goal, $index)"> Remove Goal </button>
      <div ng-show="open">
        {{goal.goal}}
        {{goal.notes}}
        {{goal.sprint.active}}
        {{goal.time.start.date}}
        {{goal.time.start.time.hour}}:{{goal.time.start.time.minutes}}:{{goal.time.start.time.seconds}}
        {{goal.time.end.date}}
        {{goal.time.end.time.hour}}:{{goal.time.end.time.minutes}}:{{goal.time.end.time.seconds}}
        {{goal.time.total.formated}}
      </div>
    </div>
  </div>
  <button type="button" ng-click="addNewProject()"> Add New Project </button>
</div>
</div>
</div>






<!-- Login Button -->
<div id="login" ng-hide="user">
  <button type="button" class="btn btn-primary"  ng-click="login()">Login</button>
</div>
<div id="login" ng-hide="calendarLinked = true; !user">
  <button type="button" class="btn btn-primary" ng-hide="calendarLinked = true" ng-click="authorizeCalendar()">Connect Google Calendar</button>
</div>
<div id="login" ng-hide="calendarLinked = false; !user">
  <button type="button" class="btn btn-primary" ng-show="calendarLinked = true" ui-sref="profile">Profile</button>
</div>

<div id="output">

</div>
